<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap-->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Simulacion TIB</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <dic class="col-md-5">
                <div class="form-group">
                    <center><h2><Strong>Simulacion TIB</Strong></h2></center>
                    <label for="bacInitNumber">Cantidad Inicial de Bacterias</label>
                    <input type="text" id="bacInitNumber" class="form-control">
                </div>
                <div class="form-group">
                    <label for="timeI">Tiempo de Inicial(H)</label>
                    <input type="text" id="timeI" class="form-control">
                </div>
                <div class="form-group">
                    <label for="timeF">Tiempo de Final(H)</label>
                    <input type="text" id="timeF" class="form-control">
                </div>
                <div class="form-group">
                    <label for="time">Taza de Crecimiento(%)</label>
                    <input type="text" id="tc" class="form-control">
                </div>
                <div class="form-group">
                    <center>
                        <button class="btn btn-primary" id="btn-calc">Calcular</button>
                    </center>
                </div>

            </dic>
            <dic class="col-md-7 border p-3 mt-2 row">
                    <canvas id="thecanvas" width="400px" height="400px" class="col-md-12"></canvas><br>
                    <label for="" class="col-md-6">#Bacterias Final</label>
                    <div id="N" class="col-md-6"></div>
                    <span class="col-md-12">Relación</span>
                
            </dic>
        </div>
    </div>




    <script>
        const controller= require('../js/controller.js');
        
        document.getElementById("btn-calc").addEventListener("click",()=>{
            controller.calculeExample();
        });

        document.getElementById("btn-calc").addEventListener("click",()=>{
            controller.dbCRUDS()
        });

    </script>
</body>

</html>