<div class="container">
    <center><h2 >Información</h2></center>
    
    <div style="float: right;"><a class="btn btn-info" href="./microbiologia_2.pdf" download="CrecimientoBacteriano">
        Descargar Archivo
        </a>
    </div>
    <h4>Fase exponencial</h4>
    <p>Es la consecuencia de que una célula se divida en dos, 
        estas en otras dos y así sucesivamente, la mayoría 
        crecen exponencialmente pero las velocidades de 
        crecimiento exponencial pueden variar esencialmente.
        Es influenciada por las condiciones ambientales 
        (temperatura, composición del medio de cultivo) y 
        por las características geneticas del microorganismo,
        las procariotas crecen más rápidamente que las eucariotas
    </p>

    <center>
        <img src="./formula_exponencial.png" height="200" alt="">
    </center>
   
</div>